/* ===================== layout ===================== */

html, body {
    height: 100%;
}


body {
    background-color: white;
    background-size: 100%;
}

/*-- barra de nav --*/
.navbar-style {
    padding-bottom: 23px;
    background-color: #6495ED;
}

.links-style {
    float: right;
    padding-top: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}

ul>li>a {
    color: white;
}

/*-- images --*/
.images-body {
    padding-top: 125px;
}

.card-left-style {
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
}

.card-center-style {
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
}

.card-rigth-style {
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
}

.img-left-style {
    width: 286px;
    margin-left: -15px;
}

.img-center-style {
    width: 286px;
    margin-left: -15px;
}

.img-rigth-style {
    width: 286px;
    height: 191px;
    margin-left: -15px;
}

.final-img {
    margin-left: -14px;
    width: 318px;
    height: 292px;
    border-radius: 5px;
}

.final-text {
    float: right;
    display: inline-block;
    margin-top: -298px;
}

.final-text h3 {
    color: #6495ED;
}